{% extends "network/layout.html" %}
{% load static %}
{% block title %}
    {{ profile.user.username }}
{% endblock %}
{% block body %}
    <div class="profile">
     
        <div> 
            <img src="{% if profile.profile_pic %}{{ profile.profile_pic }}{% else %}{% static 'network/images/standard.jpg' %}{% endif %}" class="img-thumbnail" alt="Profile Picture" style="width: 200px;">
        </div>
        <div class="card text-bg-light mb-3" id="profile_card_display">
            <h3 class="card-header"> {{ profile.user.username }} </h3>
                <div class="card-body"> 
                    {% if user.is_authenticated %}
                        {% if profile.user.username != request.user.username %}
                            <form method="POST">
                                {% csrf_token %}
                                {% if profile in user.profile.following.all %}
                                    <button class="btn btn-outline-danger" name="follow" value="unfollow">unfollow</button>
                                {% else %}
                                    <button class="btn btn-outline-success" name="follow" value="follow">follow</button>
                                {% endif %}
                            </form>  
                        {% endif %}
                    {% endif %}
                    <div class="card-title">
                        {{ profile.followers.count }} <small hx-get="{% url 'load_users' %}?key1={{ profile.user.username }}&key2=followers&key3=1" hx-target=".load_" hx-swap="innerHTML" style="cursor: pointer;">followers</small> 
                        {{ profile.following.count }} <small hx-get="{% url 'load_users' %}?key1={{ profile.user.username }}&key2=following&key3=1" hx-target=".load_" hx-swap="innerHTML" style="cursor: pointer;">following</small>
                    </div>
                    
                    <p class="card-text">{{ profile.bio }}</p>
                    <small>
                        {% if request.user.username == profile.user.username %}
                        <a href="{% url 'create_profile' %}">Edit Profile</a>
                        {% endif %}
                    </small>
                </div>
        </div>
    </div>
     <!-- Load followers and following -->
    <div class="load_">
    </div>
    <!-- Display user twets -->
    <div class="posts_index">
        
        {% include "network/tweets.html" %} 

    </div>
    
{% endblock %}