{% extends "network/layout.html" %}

{% block body %}
  {% if user.is_authenticated %}
        {% if not profile. %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'create_profile' %}">customize profle</a>
        </li>
        {% else %}
        <div class="new-tweet">
            <div class="profile-photo">
              <img src="{{ profile.profile_pic }}" alt="">
            </div>
            <div class="input-container">
            <form action="{% url 'index' %}" method="POST">
              <div class="form-floating mb-3">
                {% csrf_token %}
                {{ post_form.post }}
              </div>
              <button type="submit" class="btn btn-primary">Post</button>
            </form>
            </div>
          </div> 
        {% endif %}
        <div class="posts_index">
            {% for post in posts %}
                <div class="post">
                    <div class="card" id="card_index_post">
                        <div class="card-body">
                            <div class="profile-photo">
                                <img src="{{ post.poster.profile_pic }}" alt="">
                            </div>
                          <h5 class="card-title">{{ post.poster.username }}</h5>
                          <h6 class="card-subtitle mb-2 text-muted">{{ post.created_at }}</h6>
                          <p class="card-text">{{ post.post }}</p>
                        </div>
                      </div>
                </div>
                <br>
            {% endfor %}

        </div>

    {% endif %}

{% endblock %}