{% extends "network/layout.html" %}
{% load static %}
{% block body %}
  {% if user.is_authenticated %}
        <div class="new-tweet">
            <div class="profile-photo">
              {% if profile.profile_pic %}
                 <a href="{% url 'profile' request.user.username %}"><img src="{{ profile.profile_pic }}" alt=""></a>
              {% else %}
              <a href="{% url 'profile' request.user.username %}"><img src="{% static 'network/images/standard.jpg' %}" alt=""></a>
              {% endif %}
            </div>
            <div class="input-container">
            <form action="{% url 'index' %}" method="POST">
              <div class="form-floating mb-3">
                {% csrf_token %}
                {{ post_form.post }}
              </div>
              <button type="submit" class="btn btn-primary">Post</button>
            </form>
            </div>
          </div>
  {% endif %}    
  {% include "network/tweets.html" %} 
{% endblock %}

     


