{% load static %}

      
    {% for user in users %}
        <div class="card text-bg-light mb-3" style="width: 14rem;">
            <div class="card-body">
            <a href="{% url 'profile' user.user.username %}">
            <div class="profile-photo" style="float: left;">
                <img src="{% if user.profile_pic %}{{ user.profile_pic }}{% else %}{% static 'network/images/standard.jpg' %}{% endif %}" alt="...">
            </div>
            <h5 class="card-title" style="color: black;">{{ user.user.username }}</h5></a>  
            <hr>
            <i class="card-text text-muted" style="float: left">{{ user.followers.count }} followers </i>
            <br>
            <i class="card-text text-muted" style="float: left">{{ user.following.count }} following </i>
            <br>
            {% if request.user.profile in user.followers.all %}<small class="text-muted" style="float: left">follows you</small>{% endif %}
            <br>
            <form hx-headers="{'X-CSRFToken': '{{ csrf_token }}'}" hx-post="{% url 'profile' user.user.username %}" hx-swap="none" style="float:inline-end;">
                {% csrf_token %}
                {% if request.user.profile in user.followers.all %}
                    <button class="btn btn-outline-danger" type="submit" name="follow" value="unfollow">unfollow</button>
                {% else %}
                    <button class="btn btn-outline-success" type="submit" name="follow" value="follow">follow</button>
                {% endif %}
            </form>
            </div>
        </div>
        {% empty %}
        <p>No {{ filter }} yet</p>
    {% endfor %}

  {% if users.has_next %}
    <div hx-trigger="intersect once" hx-get="{% url 'load_users' %}?key1={{ profile.user.username }}&key2={{ filter }}&key3={{ pagenum|add:1 }}" hx-swap="afterend transition:true"></div>
  {% endif %}
    <script src="{% static 'network/js/users.js' %}"></script>