{% load static %}
<!-- Dinamically load posts using htmx -->

<script src="{% static 'network/js/htmx.min.js' %}" defer></script>
<div class="posts_index">
    {% for post in posts %}
        <div class="post">
            <div class="card" id="card_index_post">
                <div class="card-body" id="post{{ post.id }}">
                    <div class="profile-photo">
                        <img src="{% if post.poster.profile_pic %}{{ post.poster.profile_pic }}{% else %}{% static 'network/images/standard.jpg' %}{% endif %}" alt="">
                    </div>
                  <h6 class="card-title"><a href="{% url 'profile' post.poster.user.username %}" style="color: grey;">@{{ post.poster.user.username }}</a></h6>
                  <small class="card-subtitle mb-2 text-muted">{{ post.created_at|timesince|default:"Just now"}} ago</small>

                              <!--  Edit post -->
                 {% if user.is_authenticated %}
                 {% if post.poster.user.username == request.user.username %}
                     <small id="edit_post" data-post="post{{ post.id }}"> edit post</small>
                 {% endif %}
                 {% endif %}
                  <p class="card-text">{{ post.post }}</p>

                  <i id="like{{ post.id }}"> {{ post.likes.count }} </i> <small>likes </small>
                  <!-- Like button if user liked the thumbs up icon will be blue -->
                  {% if user.is_authenticated %}
                      <i hx-get="{% url 'like' post.id %}" class="fa fa-thumbs-up" {% if request.user.profile in post.likes.all %} style="color: blue;" {% endif %} hx-swap="innerHTML" hx-target="#like{{ post.id }}" onclick="like(this)"></i>
                    <script src="{% static 'network/js/tweets.js' %}"></script>
                  {% endif %}
                </div>

              </div>

        </div>
        <!-- test <hr> instead of <br> -->
        <br> 
    {% endfor %}

    <!-- Pagination with htmx -->
    {% if posts.has_next or page == 0 %}
        <div hx-trigger="revealed" hx-get="{% url 'tweets_view' page=page|add:1 filter=filter %}" hx-swap="afterend"></div>
    {% endif %}
         
    