{% load static %}
<!-- Dinamically load posts using htmx -->

<script src="{% static 'network/js/htmx.min.js' %}" defer></script>
<div class="posts_index">
    {% for post in posts %}
        <div class="post" id="tweet{{ post.id }}">
            <div class="card" id="card_index_post">
    
                <div class="card-body">
                    <div class="profile-photo">
                        <img src="{% if post.poster.profile_pic %}{{ post.poster.profile_pic }}{% else %}{% static 'network/images/standard.jpg' %}{% endif %}" alt="">
                    </div>
                  <h6 class="card-title"><a href="{% url 'profile' post.poster.user.username %}" style="color: grey;">@{{ post.poster.user.username }}</a></h6>
                  <small class="card-subtitle mb-2 text-muted">{{ post.created_at|timesince|default:"Just now"}} ago</small>

                              <!--  Edit post and delete post -->
                 {% if user.is_authenticated %}
                 {% if post.poster.user.username == request.user.username %}
                     <small id="edit_post" data-post="{{ post.id }}"> edit post </small>
                     <small id="delete_post" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}' hx-delete="{% url 'change' post.id %}" hx-target="#tweet{{ post.id }}" hx-confirm="Are you sure you want to delete this post?"> delete post </small>
                 {% endif %}
                 {% endif %}
                    <br>
                   {% if post.reply %}<small class="text-muted">Replied to: <a href="{% url 'replies' post.reply.id %}">@{{ post.reply.poster }}</a></small>{% endif %}
                  <p class="card-text" id="post{{ post.id }}">{{ post.post }}</p>

                  <!-- Edit post form -->
                  <form hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}' hx-put="{% url 'change' post.id %}" hx-target="#post{{ post.id }}" hx-swap="outerHTML">
                    <div id="form{{ post.id }}">
                    </div>
                   </form>

                  <i id="like{{ post.id }}"> {{ post.likes.count }} </i> <small>likes </small>
                  <!-- Like button if user liked the thumbs up icon will be blue -->
                  {% if user.is_authenticated %}
                      <i hx-get="{% url 'like' post.id %}" class="fa fa-thumbs-up" {% if request.user.profile in post.likes.all %} style="color: blue;" {% endif %} hx-swap="innerHTML" hx-target="#like{{ post.id }}" onclick="like(this)"> </i>
                    <script src="{% static 'network/js/tweets.js' %}"></script>
                  {% endif %}
                </div>

                <!-- replies -->
                <i id="replies"><a href="{% url 'replies' post.id %}" style="color:darkslategray;">{{ post.replies.count }} replies</a></i>

              </div>

        </div>
        <!-- test <hr> instead of <br> -->
        <br> 

    {% endfor %}

    <!-- Pagination with htmx -->
    {% if posts.has_next or page == 0 %}
        <div hx-trigger="revealed" hx-get="{% url 'tweets_view' %}?key1={{ page|add:1 }}&key2={{ filter }}&key3={{ tweet.id }}" hx-swap="afterend"> </div>
    {% endif %}
         
    