
#image_profile {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
#image_profile img {
    max-width: 100%;
    max-height: 100%;
}

.profile-photo {
    width: 50px; 
    height: 50px;
    border-radius: 50%; 
    overflow: hidden; 
  }

  .new-tweet {

    display: flex;
    align-items: center;
  }
  
  .profile-photo img {
    width: 100%; 
    height: 100%;
    object-fit: cover;
    margin-right: 10px;
  }

  #floatingEmptyPlaintextInput {
    width: 300px;
    height: 100px;
    border-radius: 10px;
    flex: 1;
    margin-top: 30%;
  }
