
#floatingTextarea5 {
    width: 300px;
    height: 100px;
    border-radius: 10px;
    flex: 1;
    margin-top: 30%;
  }

#image_profile {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
#image_profile img {
    max-width: 100%;
    max-height: 100%;
}

.profile-photo {
    width: 50px; 
    height: 50px;
    border-radius: 50%; 
    overflow: hidden; 
}

.new-tweet {

    display: flex;
    align-items: center;
  }
  
.profile-photo img {
    width: 100%; 
    height: 100%;
    object-fit: cover;
    margin-right: 10px;
  }

.posts_index {
  height: 100%;
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-items: center;
  }

  #card_index_post {
    width: 900px;
    height: auto;
    margin: 10px; 
  }

.profile {
  display: flex;
  
}

#profile_card_display {
  width: 50%;
  margin: 10px;
  display:block;
}

.fa {
  font-size: 50px;
  cursor: pointer;
  user-select: none;
}

.fa:hover {
  color: darkblue;
}
#edit-post {
  display: flex;
  margin-right: 20px;
}